@import 'tailwindcss';
@import '@invopop/popui/tailwind.theme.css';
@source "../node_modules/@invopop/popui*.{js,svelte}";
@source "../node_modules/flowbyte*.{js,svelte}";
@plugin "@tailwindcss/forms" {
  strategy: 'class';
}

@layer utilities {
  textarea {
    @apply focus:ring-0;
  }
}

/* Uncomment for custom theme */
/* :root {
  --workspace-accent-color: rgba(112, 69, 212, 1);
} */
